tr[data-locked='true'] .fileactions .action.action-menu.permanent {
	position: relative;
	top: 7px;
}
.locking-inline-state.icon-password {
	padding: 17px 23px;
	right: -1px;
	top: 0px;
	width: 44px;
	position: absolute;
	opacity: 0.5;
}

.action-lockingdetails img {
	padding: 8px !important;
	border-radius: 50%;
	filter: none !important;
}
