tr[data-locked='true'] .fileactions .action.action-menu.permanent {
	position: relative;
	top: 7px;
}
.locking-inline-state.icon-password {
	padding: 17px 23px;
	margin-right: -45px;
	top: -5px;
	width: 44px;
	position: relative;
	opacity: 0.5;
}
