<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="bootstrap.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd">
  <testsuites>
    <testsuite name="unit">
      <directory>Unit</directory>
    </testsuite>
    <testsuite name="feature">
      <directory>Feature</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>../lib</directory>
    </include>
  </source>
</phpunit>
